h1 {
    margin: 0;
/*  font-size: 100px;*/
/* font-family: "Segoe Script";*/
}
body{
    margin: 0px;
    padding: 0px;
    background-image: url("../red-mirror-f303VzauP6w-unsplash.jpg");
    background-size: cover;
    padding-left: 30px;
}
#headingText{
    font-size: 50px;
    margin: 0px 150px 0px 0px;
    padding: 0px;
    background-color: rgb(255, 255, 255);
    max-width: 500px;
    box-shadow: 5px 10px 8px;
}

#mainBody{
    font-size: 35px;
    margin: 0px 0px 0px ;
    padding: 0px;
    background-color: rgb(255, 255, 255);
    max-width: 500px;
    box-shadow: 5px 10px 8px;
    
}

#mainBody p {
    margin: 0;

}