h1 {
    margin: 0;
/*  font-size: 100px;*/
/* font-family: "Segoe Script";*/
}
body{
    margin: 0;
    padding: 0px;
    background-image: url("../michael-payne-51kZR1C2WsI-unsplash.jpg");
    background-size: cover
}
#headingText{
    font-size: 50px;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    background-color: rgba(104, 101, 101, 0);
}

#mainBody{
    font-size: 35px;
    margin: 0px 0px 0px ;
    padding: 0px;
    background-color: rgba(104, 101, 101, 0);

    
}

#mainBody p {
    margin: 0;

}